*.pdf

*.aux
*.log
*.idx
*.toc
*.ilg
*.bak

*~
*/.xvpics/*
a.a

*problems.csv
save.ref
temp
temp.html
temp_mathml*
*.temp
*temp.tex
code_listing*
code_listings.zip
*.cmd
learned_commands.json

figfeedback*
*.pos
*.postm4
